.chat-panel {
  margin: 0 1rem;
  height: 70vh;

  display: grid;
  grid-template-rows: 1fr 8rem;
}

.message-panel {
  overflow-y: auto;
}

/*
  Bubble row layout
*/
.bubble-row {
  display: flex;
}

.bubble-row--you {
  justify-content: flex-end;
}

/*
  Bubble style
*/
.bubble {
  padding: 0.5rem;
  border-radius: 5px;
  margin: 0.25rem 0;
}

.bubble-row--them .bubble {
  border: solid 1px royalblue;
  background-color: lightblue;
  border-bottom-left-radius: 0;
}

.bubble-row--you .bubble {
  border: solid 1px goldenrod;
  background-color: lightgoldenrodyellow;
  border-bottom-right-radius: 0;
}

/*
  Tool bar, message box and button
*/
.chat-tools {
  display: flex;
  flex-direction: column;
}