.user {
  display: block;
  width: 100%;
  appearance: none;
  border: none;
  position: relative;
  background-color: lightgrey;

  font-size: 1.5rem;
  line-height:2rem;

  padding: 0.5rem;

  text-align: left;

  cursor: pointer;
}

.user--loggedoff {
  color: grey;
}

.user--selected {
  background-color: white;
}

.user--selected:after {
  content: ' -> ';
  display: block;
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}